{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "15.0"
        },
        "polyfills": [
            "Promise"
        ]
    },
    "plugins": [
        "react", 
        "compat"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:compat/recommended",
        "plugin:import/warnings"
    ],
    "ignorePatterns": ["**/test/*.js"],
    "rules": {
        "no-console": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
                "message": "Unexpected property on console object was called"
            }
        ],
        "class-methods-use-this": "off",
        "consistent-return": "off",
        "default-case": "off",
        "indent": [ "error", 4, { 
            "ObjectExpression": "first",
            "ArrayExpression": "first",
            "SwitchCase": 1
        }],
        "key-spacing": [ "off" ],
        "max-len": [ "error", 180, {
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true,
            "ignorePattern": "(^import.*)|(.*(console)|(debug).log.*)|(bodyText:).*|(<path).*|(<polygon).*"
        }],
        "no-trailing-spaces": "warn",
        "no-shadow": "off",
        "no-var": "error",
        "object-curly-spacing": ["error", "always"],
        "operator-linebreak": [ "error" ],
        "no-param-reassign": "off",
        "no-unused-vars": [ "error", { 
            "argsIgnorePattern": "(rej(ect)?)",
            "caughtErrors": "none",
            "varsIgnorePattern": "ReactDOM" 
        }],
        "react/prop-types": [ "off" ],
        "react/jsx-curly-spacing": [ "error", { "when": "always" } ],
        "react/react-in-jsx-scope": [ "off" ],
        "react/jsx-no-target-blank": ["off"],
        "compat/compat": "error"
    },
    "env": {
        "node" : true,
        "browser": true
      },
      "parser": "babel-eslint"
}