@charset "UTF-8";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  height: 100%;
}


/* -- NavBar -- */

.bx--header{
  order: 1;
  position: inherit !important;
}

.bx--header__action{
  color: white;
}

/* -- Container -- */

.container {
  /* background: #F3F3F3; */
  margin: 0% 4%;
  padding: 2% 0%;
  height: 100%;
  order: 3;
}

/* -- Search -- */

.row_search{
  position: absolute;
  width: 70%;
  left: 15%;
}

.suggestion{
  padding: 1rem;
  cursor: pointer;
  background-color: white;
}

.suggestion:hover{
  background-color: rgb(197, 197, 197);
}

/* -- Banner -- */

.banner img {
  margin-top: -10%;
  width: 90%;
}

.banner-text{
  margin-top: 8rem;
}

/* -- Sliders -- */

.slider1{
  margin-top: 3rem;
}
.title-link{
  color: #474747;
  text-decoration: none;
}

/* -- Footer -- */

.footer {
  background-color: #CACACA;
  background-position: center;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-top: 1.5rem;
  order: 4;
  text-align: center;
}

/* -- Films -- */

.film-info{
  border-bottom: 1px solid var(--primaryColor);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
}

.film-back{
  padding-bottom: 3rem;
  background-image: linear-gradient(to right, rgba(5.49%, 10.20%, 15.69%, 1.00) 150px, rgba(5.49%, 10.20%, 15.69%, 0.84) 100%);
}

.film-poster{
  margin-top: 5%;
  margin-bottom: 5%;
}

.film-poster img{
  margin-left: 2rem;
  border-radius: 25px;  
}

.film-detail{
  color: white;
  padding-top: 10%;
}

.film-header{
  font-weight: 600;
}

.score{
  color: green;
  font-size: 2.5rem;
}

.txt-grey{
  color: #848282;
}

.link{
  color: #a1b6e4;
  text-decoration: none;
}