@charset "UTF-8";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  height: 100%;
}


/* -- NavBar -- */

.bx--header{
  order: 1;
  position: inherit !important;
}

.bx--header__action{
  color: white;
}

/* -- Container -- */

.container {
  /* background: #F3F3F3; */
  margin: 0% 4%;
  padding: 2% 0%;
  height: 100%;
  order: 3;
}

/* -- Search -- */

.row_search{
  position: fixed;
  width: 70%;
  margin-left: 10%;
}

.suggestion{
  padding: 1rem;
  cursor: pointer;
  background-color: white;
}

.suggestion:hover{
  background-color: rgb(197, 197, 197);
}

/* -- Banner -- */

.banner img {
  margin-top: -10%;
  width: 90%;
}

.banner-text{
  margin-top: 8rem;
}

/* -- Sliders -- */

.slider1{
  margin-top: 3rem;
}